<component name="ArtifactManager">
  <artifact type="exploded-war" name="springbasic:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springbasic_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springbasic" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springbasic/web/Web" />
    </root>
  </artifact>
</component>